# https://docs.neoforged.net/docs/advanced/accesstransformers/#the-access-transformer-specification

public net.minecraft.world.level.block.state.properties.IntegerProperty *

public net.minecraft.world.level.levelgen.NoiseBasedChunkGenerator globalFluidPicker
