# Docs:   https://docs.neoforged.net/docs/advanced/accesstransformers
# Format: https://github.com/neoforged/AccessTransformers/blob/main/FMLAT.md

public net.minecraft.world.level.levelgen.NoiseBasedChunkGenerator globalFluidPicker

public net.minecraft.world.item.BucketItem    playEmptySound(Lnet/minecraft/world/entity/LivingEntity;Lnet/minecraft/world/level/LevelAccessor;Lnet/minecraft/core/BlockPos;)V
public net.minecraft.world.item.MobBucketItem playEmptySound(Lnet/minecraft/world/entity/LivingEntity;Lnet/minecraft/world/level/LevelAccessor;Lnet/minecraft/core/BlockPos;)V
