*
!.gitignore
!codeStyles/
!codeStyles/*
!dictionaries/
!dictionaries/*
!inspectionProfiles/
!inspectionProfiles/*
!scopes/
!scopes/*

!externalDependencies.xml
!gradle.xml
!jsonSchemas.xml
!scala_settings.xml
!vcs.xml

.DS_Store
