# Docs:   https://docs.neoforged.net/docs/advanced/accesstransformers
# Format: https://github.com/neoforged/AccessTransformers/blob/main/FMLAT.md

public net.minecraft.world.level.block.state.properties.IntegerProperty *
